.chooser-container{
    height: 100vh;
    display: grid;
    align-content: center;
    justify-items: center;
}

.mixed-popup-content {
    width: max(320px, 50%)
}

h1 {
    font-size: 40px;
    text-align: center;
    color: honeydew;
}
  
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}