.option-button {
	padding: 10px;
	background-color: white;
	font-size: 17px;
	cursor: pointer;
	margin-top: 10px;
	border-radius: 5px;
	width: 120px;
}

.option-button:hover {
	color: grey;
}

.option {
	width: 100%;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 1024px) {
	.option-button {
		font-size: 15px;
		width: 105px;
	}
}

@media only screen and (max-width: 768px) {
	.option-button {
		font-size: 13px;
		width: 85px;
	}
}