.option-button {
	padding: 7px;
	background-color: white;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 10px;
	border-radius: 5px;
	width: 120px;
	transition: 0.5s;
}

.option-button:hover {
	background-color: grey;
}

.option {
	display: flex;
}

@media only screen and (max-width: 1024px) {
	.option-button {
		font-size: 15px;
		width: 105px;
	}
}

@media only screen and (max-width: 768px) {
	.option-button {
		font-size: 13px;
		width: 85px;
	}
}