.notation-container {
    color: white;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: min(20px, 2vw);
    outline: none;
}

.moves {
    text-align: center;
    border-radius: 10px;
    background-color: #202020;
    border-spacing: 0;
}

.moves-table-body > tr:nth-child(1) > .move-number,
.moves-table-body > tr:nth-child(1) > .move-notation {
    padding-top: 10px;
}

.moves-table-body > tr:nth-child(10) > .move-number,
.moves-table-body > tr:nth-child(10) > .move-notation {
    padding-bottom: 10px;
}

.move-table-row > td:nth-child(2n) {
    background-color: #363636;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.move-number {
    width: 60px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.move-notation {
    width: 100px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.move-text {
    cursor: pointer;
}

.game-result {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    width: 15vw;
}

.close-notation {
    margin: 0 auto;
}

.current-move {
    color: #00ff11;
}

@media only screen and (max-width: 1024px) {
    .move-notation {
        width: 80px;
    }

    .move-number {
        width: 50px;
    }

    .moves, .game-result {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
	.notation-container{
        margin-top: 10px;
        margin-left: unset;
    }

    .move-notation {
        width: 70px;
    }

    .move-number {
        width: 40px;
    }

    .moves, .game-result {
        font-size: 14px;
    }
}