.start-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-page-buttons {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
}