.choose-set {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.single-piece {
    display: grid;
    justify-items: center;
}

.single-piece:hover {
    cursor: pointer;
}

.scale-up {
    margin-bottom: 5vw;
}

.scale-up:hover {
    animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}