.main-container {
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-board-side {
  display: grid;
  height: max(45.6vw, 320px);
  margin-right: 10px;
  text-align: end;
  font-size: 18px;
  grid-template-rows: 1fr 1fr 1fr;
}

.white-move, .black-move, .game-ended, .white-move-reversed, .black-move-reversed, .draw-offered-menu {
  color: white
}

.white-move {
  grid-row: 3;
  align-self: end;
}

.white-move-reversed {
  grid-row: 1;
  align-self: start;
}

.black-move {
  grid-row: 1;
  align-self: start;
}

.black-move-reversed {
  grid-row: 3;
  align-self: end;
}

.game-ended {
  grid-row: 2;
  align-self: center;
}

.draw-offered-menu {
  grid-row: 2;
  grid-gap: 7px;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.draw-offered-menu > button {
  width: 80px;
}

.right-board-side {
  height: max(45.6vw, 320px);
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notation-view {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.player-container {
  margin-top: auto;
  margin-left: 15px;
  font-size: 18px;
}

.opponent-container {
  margin-bottom: auto;
  margin-left: 15px;
  font-size: 18px;
}

.player-container, .opponent-container {
  display: flex;
  flex-direction: row;
}

.time {
  margin-left: 10px;
}

.online-result-buttons {
  grid-row: 2;
  align-self: center;
}

.player-container-small-screen, .opponent-container-small-screen {
  display: none;
}

.show-on-mobile-only {
  display: none;
}

.grid-row-2 {
  grid-row: 2;
}

@media only screen and (max-width: 1024px) {
  .right-board-side {
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .main-container{
    display: grid;
    justify-items: center;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .show-on-mobile-only {
    display: block;
  }

  .online-result-buttons {
    margin-left: 10px;
  }

  .left-board-side {
    height: min-content;
    margin-right: 0;
    font-size: 13px;
    text-align: center;
    margin-bottom: 5px;
    grid-template-rows: unset;
  }

  .right-board-side {
    height: auto;
    font-size: 13px;
    width: unset;
  }

  .white-move, .black-move, .white-move-reversed, .black-move-reversed {
    font-size: 10px;
  }

  .player-container, .opponent-container {
    display: none;
  }

  .player-container-small-screen, .opponent-container-small-screen {
    color: white;
    font-size: 18px;
    display: inline;
  }

  .left-board-side-small-screen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: end;
    width: max(45.6vw, 320px);
  }
  
  .game-ended {
    grid-row: unset;
  }

  .draw-offered-menu {
    display: grid;
    height: 100%;
    margin-left: 5px;
    margin-top: 10px;
    align-self: flex-start;
  }

  .hide-on-mobile {
    display: none;
  }
}